<p-toast></p-toast>
<div class="container police" style="width: 101%;padding-right: 0px;">
      <div class="row">
          <nav aria-label="breadcrumb" class="enteteMain">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item active enteteMainLi text-xl text-light" aria-current="page">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; AUDIT DES CONNEXIONS </li>
              </ol>
          </nav>


        <div class="container searchPaie">

            <form>
                <div class="row">
                    <!-- <div class="col-md-1  mt-1"> -->
                    <!-- <button style="background: #491e06;"  type="button" (click)="clickAddcompteuser()" data-toggle="modal" data-target="#exampleModal"class=" btn btn-primary mt-1 mb-3">+</button> -->
                    <!-- </div> -->
                    <div class="col">
                        <div class="row" style="padding-left: 8%">
                            <div class="col">
                                <label for="firstDate">Date Début</label>
                                <input name="firstDate" [(ngModel)]="firstDate" id="firstDate" class="form-control search" type="date" placeholder="Veuillez rechercher par firstDate">
                                <div class="isError" style="color: red;" *ngIf="remplir === 1">
                                    Le champs est requis
                                </div>
                            </div>
                            <div class="col">
                                <label for="lastDate">Date Fin</label>
                                <input name="lastDate" [(ngModel)]="lastDate" id="lastDate" class="form-control search" type="date" placeholder="Veuillez rechercher par lastDate">
                                <div class="isError" style="color: red;" *ngIf="remplir === 1">
                                    Le champs est requis
                                </div>
                            </div>
                            <div class="col">
                                <label for="login">Login</label>
                                <input name="login" [(ngModel)]="login" id="login" class="form-control search" type="text" placeholder="Veuillez rechercher par login">
                            </div>
                            <div class="col" style="padding-top: 39px;">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row" style="margin-top: -16px;">
                                            <div class="col-6">
                                                <button class="btn btn-outline-info  abiButton" (click)="SearchUser()"><i class="fa fa-search" style="font-size:20px;color:#ffd54f"></i></button>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-outline-info abiButton" (click)="exportAsXLSX()" style="background: none;"><i class="fa fa-file-excel-o" style="font-size:20px;color:green"></i></button>
                                            </div>
                                        </div>
                                        <!-- <button  class="btn btn-outline-info abiButton" (click)="Search('login','referenceFt','facturier','identifiant')" >Rechercher</button> -->
                                    </div>
                                    <div class="col-6">
                                        <!-- <button (click)="exportAsXLSX()" style="border: none;background: none;"><i class="fa fa-file-excel-o" style="font-size:28px;color:green"></i></button> -->
                                    </div>
                                </div>
                                <!-- <button style="margin-top: 1px;width: 42%;" class="btn btn-outline-info  abiButton" (click)="SearchUser('nom','login','role','statut')" >Rechercher</button> -->
                            </div>
                        </div>
                        <div class="row" style="padding-left: 8%">
                            <div class="col">
                                <label for="nom">Nom</label>
                                <input name="nom" [(ngModel)]="nom" id="nom" class="form-control search" type="text" placeholder="Veuillez rechercher par nom">
                            </div>
                            <!-- <div class="form-group col dropdown">
                  <label for="role">Habilitation</label>
                  <select [attr.disabled]="isDisable ? '' : null" id="role" class="form-control" formControlName="role">
                    <option></option>
                    <option value="ROLE_ADMIN">ADMIN</option>
                    <option value="ROLE_AUDIT">AUDITEUR</option>
                    <option value="ROLE_HELPDESK">BACK OFFICE</option>
                    <option value="ROLE_COMPTABILITE">COMPTABILITE</option>
                    <option value="ROLE_USER_COM">DISTRIBUTEUR</option>
                    <option value="ROLE_MONETIQUE">MONETIQUE</option>
                    <option value="ROLE_USER_PERSO">PARTICULIER</option>
                    <option value="ROLE_SUPPORT">SUPPORT</option>
                  </select>
                </div> -->
                            <!-- <div class="col">
                  <input name="statut"   formControlName="statut"  id="statut" class="form-control search" type="text"  placeholder="Veuillez rechercher par statut">
                </div> -->
                            <div class="form-group col dropdown">
                                <label for="statut">Statut</label>
                                <select [attr.disabled]="isDisable ? '' : null" id="statut" class="form-control" [(ngModel)]="statut">
                    <option></option>
                    <option value="CONNECTE">CONNECTE</option>
                    <option value="DECONNECTE">DECONNECTE</option>
                  </select>
                            </div>
                            <div class="col" style="padding-top: 39px;">
                                <button style="margin-top: -4px;width: 45%;margin-left: 59px;" (click)="annuler()" class="btn myBtnValiderAN">Annuler</button>
                            </div>
                        </div>

                        <div class="row">

                            <!-- <div class="col-md-4">
                  <input name="firstDate"   formControlName="firstDate" id="firstDate" class="form-control search" type="date"  placeholder="Veuillez rechercher par firstDate">
                </div>
                <div class="col-md-4">
                  <input name="lastDate"   formControlName="lastDate" id="lastDate" class="form-control search" type="date"  placeholder="Veuillez rechercher par lastDate">
                </div> -->
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="card shadow m-1 mt-1">

            <div class="card-body">
                <table style="font-size: 14px" class="table table-hover table-striped table-bordered mt-2 ">
                    <thead>
                        <tr class="tableHeader">
                            <!-- <th scope="col" > Id </th> -->
                            <th style="width: 15%;" scope="col"> Login </th>
                            <th scope="col"> Nom </th>
                            <th scope="col"> Prenom </th>
                            <th scope="col"> Roles </th>
                            <th scope="col"> Date Connexion</th>
                            <th scope="col">Statut </th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr class="policerow" *ngFor="let row of auditData | paginate: {itemsPerPage:7,currentPage:p};">
                            <!--  <td>{{ row.id}}</td> -->
                            <td class="policerow">{{ row.login}}</td>
                            <td class="policerow">{{ row.nom}}</td>
                            <td *ngIf="row.prenom != null" class="policerow">{{ row.prenom}}</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_SUPER_ADMIN'">SUPER ADMIN</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_ADMIN'">ADMIN</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_AUDIT'">AUDIT</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_USER_PERSO'">PARTICULIER</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_USER'">USER</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_USER_COM'">MARCHAND</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_HELPDESK'">SUPPORT</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_MONETIQUE'">MONETIQUE</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_COMPTABILITE'">COMPTABILITE</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_SUPPORT'">SUPPORT</td>
                            <td class="policerow" *ngIf="row.role == 'ROLE_PRESTATAIRE'">PRESTATAIRE</td>
                            <td class="policerow">{{ row.date + ' '+ row.heureAudit}}</td>
                            <td class="policerow">{{ row.statut}}</td>
                        </tr>

                    </tbody>
                </table>
                <div class="tablePaginate">
                    <pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
                </div>

            </div>
        </div>
    </div>
  </div>
