 <div class="container-fluid">
    <div class="row">
          <div class="fluid">
            <div class="card">
                <div class="card-body">

                  <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4"> BIENVENUE SUR E-PAIEMENT </h1>
                      <p class="lead"> Avec nous les paiements se font en un seul clique.</p>

                      <div class="row">
                        <div class="col-12">
                          <img src="assets/accueil.jpg" style="width: 100%;" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
         </div>
    </div>
</div>
