<div class="container"> 
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; MODIFICATION DU MOTE DE PASSE  </li>
            </ol>
          </nav>

          <div class="fluid">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="text" class="col-sm-5 col-form-label">LOGIN </label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="text" class="col-sm-5 col-form-label">Ancien mot de passe </label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="text" class="col-sm-5 col-form-label">Nouveau mot de passe </label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control">
                                </div>
                            </div>


                            
                            <div class="form-group row">
                                <label for="text" class="col-sm-5 col-form-label">Confirmer </label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-outline-primary">modifier</button>
                            <button type="button" class="btn btn-outline-secondary">valider</button>
                          
                        </div>


                    
                </div>
            </div>
         </div>    

    </div>
</div>